.lead {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  padding: 150px 0 120px;
  color: var(--primary);
}
.lead__title {
  margin: 30px auto 150px;
  width: min-content;
  line-height: 1.5em;
  text-transform: uppercase;
  font-size: 7rem;
  transform: rotate(-20deg);
}

.lead__subtitle {
  font-size: 3rem;
  margin: 0 auto;
}
