.ingredient-carousel {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.ingredient-carousel__item {
  width: 150px;
  height: 100px;
  z-index: 100;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.ingredient-carousel__button {
  width: 50px;
  aspect-ratio: 1/1;
  background: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
  padding: 0;
}

.ingredient-carousel__button:hover {
  opacity: 0.8;
}

.ingredient-carousel__button_left {
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: none;
  border-right: 50px solid var(--text);
}

.ingredient-carousel__button_right {
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: none;
  border-left: 50px solid var(--text);
}
