.about {
  background-color: var(--text);
  color: var(--background);
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 120px 160px;
}

.about__title {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.about__text {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.about__text_accent {
  width: min-content;
  transform: rotate(-12deg);
  margin: 24px auto;
  letter-spacing: 0.3rem;
  font-size: 4rem;
  font-weight: 600;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  text-transform: uppercase;
  font-style: italic;
  -webkit-text-stroke-color: var(--accent);
  background-color: transparent;
}
