.header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  gap: 16px;
  padding: 12px 60px;
  background-color: var(--text);
  color: var(--background);
  border-bottom: 1px solid var(--complimentary);
  position: fixed;
  max-width: 1366px;
  z-index: 100;
}

.header__logo {
  width: 48px;
  aspect-ratio: 1/1;
  background-color: var(--accent);
}
