@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::selection {
    background-color: rgba(25, 114, 87, 0.2);
  }

  :focus {
    outline: 2px solid #e5b890;
    outline-offset: 4px;
  }
}
