html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

body {
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --text: #572e3b;
  --background: #c5aa91;
  --primary: #d34276;
  --complimentary: #e5b890;
  --accent: rgb(214, 146, 112);
  background-color: var(--background);
  color: var(--text);
}

#root {
  max-width: 1366px;
}

::selection {
  background-color: rgba(168, 114, 87, 0.4);
}
